ex2 (1).json
{
  "name": "ex2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "785dc6ec-9607-4b60-8477-0a22d32f8b2d",
      "name": "Telegram Trigger",
      "webhookId": "067d9fcf-73a8-43f8-9a4d-67955c65a594",
      "credentials": {
        "telegramApi": {
          "id": "Jq9frswXky4HhCpu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — карьерный консультант в «Школе 21». Твоя цель — помочь пользователю выбрать специализацию (например, бэкенд, фронтенд, ML, DevOps, QA, аналитика и т.д.).\n\nСледуй строго этим правилам:\n\n1. Начни с приветствия: «Привет! Я — карьерный консультант Школы 21. Ответь на несколько вопросов, и я помогу тебе выбрать специализацию.»\n2. Задавай вопросы **строго по одному**, в следующем порядке:\n   a) Расскажи о своём предыдущем жизненном опыте и достижениях.\n   b) Как прошёл твой отборочный бассейн? (Используй анонимизированные данные: например, «я вхожу в топ-10% по времени за АРМ» — без ФИО и ID.)\n   c) Сколько тебе лет и где ты живёшь?\n   d) Какие у тебя интересы и любимые занятия?\n   e) Какие у тебя цели обучения и как быстро ты хочешь их достичь?\n   f) Какие твои сильные и слабые стороны (по твоему мнению)?\n   g) Предпочитаешь удалённую работу или офис? Какой размер компании тебе ближе?\n3. После каждого ответа — задавай **следующий вопрос**.\n4. Не повторяй вопросы. Не пропускай пункты.\n5. После последнего ответа — проанализируй всё и дай **чёткую рекомендацию** по специализации в Школе 21.\n6. Ответ должен быть на русском, дружелюбным, но профессиональным.\n7. Не выдумывай данные — опирайся только на то, что сказал пользователь."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "c869b5f3-ab06-40c3-ab4e-216d7d9f7188",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        240
      ],
      "id": "86bfaf7c-76c0-4824-900e-8aef9755e8f4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a9TD2kiZJAH3UJ7K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        240
      ],
      "id": "75353e20-5ece-426a-a36c-26e9865e3ef0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        0
      ],
      "id": "ce11ddce-71c8-48b6-9270-f3ef4bf49172",
      "name": "Send a text message",
      "webhookId": "24873d2a-8252-4f60-b0fc-9d3a2bb7ed80",
      "credentials": {
        "telegramApi": {
          "id": "Jq9frswXky4HhCpu",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd3cab80-e152-48fa-9026-e50ae965de6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43674541352f4caa91629af0fe47614d65590e3d481bc8724c27b5fa8baebb89"
  },
  "id": "rX51l4rPLChjnY9h",
  "tags": []
}