ex3 (1).json
{
  "name": "ex3",
  "nodes": [
    {
      "parameters": {
        "chatId": "-1003628278092",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "=None"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        0
      ],
      "id": "07b51809-7bc4-41ae-8886-bba076a7d605",
      "name": "Send a text message",
      "webhookId": "8af9ada2-0b5b-4095-bf01-dc891437dfcf",
      "credentials": {
        "telegramApi": {
          "id": "Jq9frswXky4HhCpu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        16
      ],
      "id": "3874c210-f823-4e86-895b-271716c34d16",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/1vhDoU4bC8ri1vhFWUEnd3LW.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -528,
        0
      ],
      "id": "c2306b3c-7c7b-4718-8370-c261db57b15b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/1vhDoU4bC8ri1vhFmw53gFrW.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -544,
        -192
      ],
      "id": "b1a3c815-9f69-4629-b402-c4a6f27dd444",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/1vhDoU4bC8ri1vhFXQ2ZQAMs.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -544,
        176
      ],
      "id": "7c0f319e-83c8-4e7b-a50f-54d7311caa43",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "=Ты — редактор ежедневного дайджеста новостей по Machine Learning. На основе списка суммаризированных постов создай дайджест строго в следующем формате:\n\nПредставлены события и материалы, связанные с машинным обучением и анализом данных. В них рассматриваются темы конференций, новые подходы к контролю качества изображений, процессы принятия научных публикаций и прогнозы развития технологий.\n\nODS Events - 2 поста\n1. [описание из первого элемента], https://t.me/datafest/900\n2. [описание из второго элемента], https://t.me/datafest/899\n\nМашинное обучение в геологии - 1 пост\n1. [описание из третьего элемента], https://t.me/geoML_Russia/137\n\nМашин лернинг - 1 пост\n1. [описание из четвёртого элемента], https://t.me/mashin_learning_tv/239\n\nПравила:\n- Начни с общего саммари — один абзац, как в примере.\n- Не выдумывай содержание — используй только входные описания.\n- Каждое описание должно быть **одним предложением**, без кода и технических деталей.\n- Используй **точные ссылки**, как указано выше.\n- Общая длина — не более 3000 символов."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        480,
        0
      ],
      "id": "6866d7bf-36c6-474a-b21d-d731ec12aaac",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        192
      ],
      "id": "ffe46700-7647-4cea-a3fc-739a7358aa3e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "a9TD2kiZJAH3UJ7K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "1c37a197-f4ea-441a-9c3d-56eb61af0f68",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        -16
      ],
      "id": "68ae6132-66e2-4954-881a-6c72f1732345",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "Сделай краткое описание поста (2 предложения). Не добавляй комментарии, эмодзи или заголовки. Опирайся только на входной текст."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -240,
        16
      ],
      "id": "73cb942a-ecba-4f1c-95e6-fc7ef009382d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "Сделай краткое описание поста (2 предложения). Не добавляй комментарии, эмодзи или заголовки. Опирайся только на входной текст."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        272
      ],
      "id": "ad98990f-3d18-4ec1-9608-74b24ebdbb79",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "Сделай краткое описание 2 постов (2 предложения). Не добавляй комментарии, эмодзи или заголовки. Опирайся только на входной текст.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -208,
        -224
      ],
      "id": "f7421fbf-eed3-4d6e-95a6-f7e8c3d284f3",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        384
      ],
      "id": "7c09e3f5-9c88-42e5-accc-697ae7576cce",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a9TD2kiZJAH3UJ7K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        -80
      ],
      "id": "5a7fe144-6323-4e04-8ddf-5dc741fb09e6",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "a9TD2kiZJAH3UJ7K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        176
      ],
      "id": "1d4c1b88-3042-4e8a-8f56-677e51bdb05b",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "a9TD2kiZJAH3UJ7K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -384,
        224
      ],
      "id": "ad9f50cb-1b11-4c60-af0d-af73f133d5b9",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -368,
        -224
      ],
      "id": "3a33fa50-b840-40d0-b97a-67ed24ba804c",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        16
      ],
      "id": "dab69a6c-595b-40d8-b787-f15b29064148",
      "name": "Aggregate3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4adc8256-0b23-457b-9893-2dbcd777c2f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43674541352f4caa91629af0fe47614d65590e3d481bc8724c27b5fa8baebb89"
  },
  "id": "Xb3NTXSB7UhP1rmF",
  "tags": []
}